<br>
<div class="container-fluid">
  <div class="row-fluid", id="wells">
    <%= render "github_jobs" %>
    <%= render "stackoverflow_jobs" %>
    <%= render "ruby_now_jobs" %>
    <%= render "authentic_jobs" %>
    <%= render "reddit_jobs" %>
    <%= render "craigslist_jobs" %>
  </div>
</div>
