<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "JobSearch" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">        
          <%= link_to 'Add a Job Board', add_path, html_options = {class: "brand", style: "float: right"} %>
          <div class="form-inline">      
            <%= form_tag(jobs_path, method: 'get', style: "float: left") do %>
              <%= label_tag(:keywords, "Key Words") %>
              <%= text_field_tag(:keywords) %> &nbsp
              <%= label_tag(:location, "City") %>
              <%= text_field_tag(:location) %>
              <%= submit_tag("Search", class: "btn") %> &nbsp
              <%= check_box_tag(:remote) %>
              <%= label_tag(:remote, "Include Remote Jobs") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
